<li class="menu-item{% if item.is_active %} active{% endif %}{% if item.is_parent_active %}parent-active{% endif %}">
    <a href="{{ item.item.get_url }}"{% if item.is_active %} class="active"{% endif %}>
        {{ item.item.name }}
    </a>
    {% if item.children and item.is_parent_active or item.children and item.is_active %}
        <ul class="submenu">
            {% for child in item.children %}
                {% include "tree_menu/menu_item.html" with item=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>